.border {
  border: 2px solid black;
}
.img-header-logo {
  margin: 0px 20px;
  width: 50px;
  height: 60px;
}
.flex-colunm {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.ver-center {
  display: flex;
  align-items: center;
}
.hori-center {
  display: flex;
  justify-content: center;
}
.p-header-text {
  width: 200px;
  font-size: 40px;
  /* margin-top: 20px; */
}
.hmp-title-text {
  color: darkolivegreen;
  font-size: large;
}
.card-title-div {
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-title-text {
  font-size: large;
  color: #999999;
  font-weight: 300;
  letter-spacing: 2px;
}
.img-cover-div {
  height: 200px;
  width: 150px;
}
.img-cover {
  height: 200px;
  width: 150px;
}
.rec-content {
  width: 1200px;
}
.img-cover-div-detail {
  height: 400px;
  width: 450px;
}
.img-cover-detail {
  height: 390px;
  width: 440px;
}
