.border {
  border: 2px solid black;
}
.img-header-logo {
  width: 3.5vw;
  height: 4.2vw;
}
.flex-colunm {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.ver-center {
  display: flex;
  align-items: center;
}
.hori-center {
  display: flex;
  justify-content: center;
}
.p-header-text {
  width: 200px;
  font-size: 40px;
  /* margin-top: 20px; */
}
.hmp-title-text {
  color: darkolivegreen;
  font-size: 1.5vw;
  margin-left: 1.4vw;
}
.card-title-div {
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-title-text {
  font-size: large;
  color: #999999;
  font-weight: 300;
  letter-spacing: 2px;
}
.img-cover-div {
  height: 200px;
  width: 150px;
}
.img-cover {
  height: 200px;
  width: 150px;
}
.rec-content {
  width: 1200px;
}
.img-cover-div-detail {
  height: 28vw;
  width: 31.5vw;
}
.img-cover-detail {
  height: 28vw;
  width: 31vw;
  margin-right: 2.1vw;
}
